# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environment
venv/
env/
ENV/
.venv/

# Environment variables
.env

# Streamlit temporary files
.streamlit/

# VS Code settings
.vscode/

# macOS system files
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Logs and temp files
*.log
*.tmp
